<div class="container">
  <section class="about-me__section about-me-container">
    <div class="about-me">
      <div class="about-me-content row">
        <div class="about-me-image col-12 col-sm-6">
          <img src="../../../assets/home7.jpeg" alt="me" />
        </div>
        <div class="about-me-text col-12 col-sm-6">
          <h1>About <span>Me</span></h1>
          <h2>Hi Everyone, I'm <span>Sara Palmieri!</span></h2>
          <p>
            I am a personal trainer, content creator, physical education and
            sports student! My life motto is: "Helping people and seeing them
            satisfied and happier makes me proud". You'll find me traveling,
            gardening, or cooking when i'm not in the gym.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="timeline">
    <div class="timeline__container left-container">
      <img src="../../../assets/love.png" alt="" />
      <div class="text-box">
        <h2>Honesty</h2>
        <p>
          Honesty is important because it helps us build trusting relationships
          and promote credibility and transparency in our social interactions.
          How to improve honesty? Always tell the truth, take responsibility for
          your actions and decisions, do not lie or deceive others, respect
          confidentiality and privacy.
        </p>
        <span class="left-container-arrow"></span>
      </div>
    </div>
    <div class="timeline__container right-container">
      <img src="../../../assets/solidarity.png" alt="" />
      <div class="text-box">
        <h2>Solidarity</h2>
        <p>
          It's about collaboration and mutual support between people. Solidarity
          is important because it helps us overcome adversity and face life's
          challenges together. How to strengthen solidarity? Helping others in
          times of need, being empathetic and supportive of others' struggles,
          working as a team to achieve common goals, and advocating for social
          justice and equality.
        </p>
        <span class="right-container-arrow"></span>
      </div>
    </div>
    <div class="timeline__container left-container">
      <img src="../../../assets/trust.png" alt="" />
      <div class="text-box">
        <h2>Responsability</h2>
        <p>
          Accountability is important because it helps us develop a strong work
          ethic and be responsible and engaged citizens. How can we improve
          accountability? By respecting our obligations and commitments,
          admitting mistakes and learning from them, taking action to correct
          the damage caused and becoming a responsible and ethical leader.
        </p>
        <span class="left-container-arrow"></span>
      </div>
    </div>
    <div class="timeline__container right-container">
      <img src="../../../assets/empathy.png" alt="" />
      <div class="text-box">
        <h2>Empathy</h2>
        <p>
          Empathy is important because it helps us develop healthy and
          meaningful relationships with others, promote understanding and
          compassion, and build more inclusive and just communities. How to
          improve empathy? Through active listening, asking open-ended
          questions, putting yourself in the other person's shoes, validating
          others' feelings, practicing everyday situations, volunteering, and
          reading literature/films that explore different perspectives.
        </p>
        <span class="right-container-arrow"></span>
      </div>
    </div>
  </section>
</div>
