.container {
  background-image: url(https://images.unsplash.com/photo-1512911268383-f74e84ff8496?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: right center;
  min-height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.login-box {
  padding: 20px;
  background: white;
  max-width: 850px;
  margin: auto;
  display: flex;
}

.login-box .image-holder {
  width: 50%;
}

.image-holder img {
  max-width: 100%;
}

.login-box form {
  width: 50%;
  padding-top: 36px;
  padding-left: 45px;
  padding-right: 45px;
}

@media screen and (max-width: 767px) {
  .login-box form {
    width: 100%;
    padding: 40px 0 30px;
  }
  .login-box .image-holder {
    width: 100%;
  }
  .login-box button {
    margin-top: 60px;
  }
}

@media screen and (max-width: 991px) {
  .login-box form {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 28px;
  margin: 0;
}

.form-group {
  display: block;
  position: relative;
}

.form-group input:first-child {
  margin-right: 25px;
}

.form-group input:focus {
  box-shadow: none;
}

.form-group input {
  width: 50%;
}

.form-control {
  border: 1px solid #333;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px;
}

.form-group .icon i::before {
  display: inline-block;
  position: absolute;
  bottom: 9px;
  right: 0;
}

.login-box button {
  border: none;
  width: 164px;
  height: 51px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #333;
  font-size: 15px;
  color: #fff;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.socials span {
  margin: 20px;
}

.socials {
  display: flex;
  justify-content: center;
  font-size: x-large;
}
