* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background: linear-gradient(
    126deg,
    rgba(81, 41, 24, 1) 10%,
    rgba(179, 127, 82, 1) 63%,
    rgba(240, 215, 185, 1) 29%,
    rgba(240, 215, 185, 1) 29%,
    rgba(230, 198, 139, 1) 46%,
    rgba(179, 127, 82, 1) 63%,
    rgba(81, 41, 24, 1) 90%
  );
  animation: bgcolor 12s ease-in-out infinite;
  height: 100vh;
  width: 100%;
  background-size: 300% 300%;
}
@keyframes bgcolor {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.container {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  position: relative;
  width: 400px;
  height: 450px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}

h1 {
  font-size: 2em;
  color: white;
  text-align: center;
  font-weight: bold;
}

.form-group {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid white;
}

.form-group label {
  position: absolute;
  top: 20%;
  left: 5px;
  transform: translateY(-80%);
  font-size: 1em;
  color: white;
  pointer-events: none;
  transition: 0.5s;
}

.form-group input:focus ~ label,
.form-group input:focus ~ label {
  top: -5px;
}

.form-group input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: white;
  padding: 0 35px 0 5px;
}

.form-group input:focus {
  box-shadow: none;
}

.form-group .icon {
  position: absolute;
  right: 8px;
  color: white;
  font-size: 1.2em;
  line-height: 57px;
}

.btn {
  width: 100%;
  height: 40px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: black;
  font-weight: 500;
}

.register-link {
  font-size: 0.9em;
  color: white;
  text-align: center;
  margin: 25px 0 10px;
}

.register-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
