.container {
  max-width: 100%;
  background-color: bisque;
}

.section__container {
  margin: auto;
  padding: 5rem 1rem;
}

a {
  text-decoration: none;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__logo img {
  width: 80px;
}

.footer__col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__col p {
  margin-bottom: 2rem;
  color: #512919;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 5px 10px;
  font-size: 1.25rem;
  color: #512919;
  border: 1px solid #512919;
  border-radius: 100%;
  transition: 0.3s;
}

.footer__socials a:hover {
  color: white;
  background-color: #512919;
}

.footer__col > a {
  display: block;
  margin-bottom: 1rem;
  color: bisque;
  transition: 0.3s;
}

.footer__col > a:hover {
  color: #512919;
}

.footer__bar {
  max-width: 100%;
  margin: auto;
  padding: 1rem;
  font-size: 0.8rem;
  color: #512919;
}

@media (width < 900px) {
  .footer__container {
    grid-template-columns: 1fr 200px;
  }
}

@media (width < 600px) {
  .footer__container {
    grid-template-columns: 1fr 150px;
  }

  .footer__bar {
    text-align: center;
  }
}
