<main>
  <div class="container">
    <div class="login-box row">
      <div class="image-holder col-12 col-sm-6">
        <img src="../../../assets/home3.jpeg" class="w-100" alt="" />
      </div>
      <form #form="ngForm" (ngSubmit)="register(form)" class="col-12 col-sm-6">
        <h1>Register</h1>
        <div class="form-group">
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            required
            ngModel
          />
          <label for="name">Name</label>
        </div>
        <div class="form-group">
          <input
            type="text"
            name="lastname"
            id="lastname"
            class="form-control"
            required
            ngModel
          />
          <label for="lastname">Lastname</label>
        </div>
        <div class="form-group">
          <input
            type="number"
            name="age"
            id="age"
            class="form-control"
            required
            ngModel
          />
          <label for="age">Age</label>
        </div>
        <div class="form-group">
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            required
            ngModel
          />
          <label for="email">Email</label>
        </div>
        <div class="form-group">
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            required
            ngModel
          />
          <label for="password">Password</label>
        </div>
        <div class="form-group" *ngIf="admin">
          <select name="role" id="role" class="form-control" required ngModel>
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>
          <label for="role">Select role</label>
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn mt-3">
          Register
        </button>
        <div class="register-link">
          <p>
            Do you already have an account?
            <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</main>
