<div class="container">
  <header class="section__header header__container">
    <div class="header__content">
      <h1>Contacts</h1>
    </div>
  </header>
  <section class="section__container explore__container">
    <div class="explore__grid">
      <div class="explore__card">
        <span><i class="ri-mail-star-line"></i></span>
        <h4>Email</h4>
        <p>palmFit@info.it</p>
      </div>
      <div class="explore__card">
        <span><i class="ri-phone-line"></i></span>
        <h4>Phone</h4>
        <p>(+39) 378 3627 135</p>
      </div>
      <div class="explore__card">
        <span><i class="ri-pin-distance-fill"></i></span>
        <h4>Address</h4>
        <p>Via Roma RM, 00060</p>
      </div>
    </div>
  </section>
</div>
