.container {
  max-width: 100%;
  min-height: 100vh;
  background-color: bisque;
}

h4 {
  color: #512919;
}

.section__container {
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  color: #512919;
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: #512919;
}

.start {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: white;
  background-color: #512919;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.start:hover {
  background-color: white;
  color: #512919;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

.bg__blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px black;
  z-index: -1;
}

.header__container {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.header__container::before {
  content: "FITNESS";
  position: absolute;
  bottom: 1rem;
  right: 20rem;
  font-size: 10rem;
  font-weight: 700;
  line-height: 7rem;
  color: #512919;
  opacity: 0.07;
}

.header__blur {
  bottom: 5rem;
  right: 0;
}

.header__content h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #512919;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
  color: #512919;
}

.header__content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
}

.header__content p {
  margin-bottom: 2rem;
  color: #512919;
}

.header__image {
  position: relative;
}

.header__image img {
  margin: auto;
  max-width: 34rem;
}

.explore__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.explore__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.explore__nav span {
  padding: 0 6px;
  font-size: 1.5rem;
  color: white;
  border: 2px solid white;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.explore__nav span:hover {
  color: #512919;
  border-color: #512919;
}

.explore__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.explore__card {
  padding: 1rem;
  background-color: rgb(242, 209, 168);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.explore__card:hover {
  border-color: #512919;
}

.explore__card span {
  display: inline-block;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: white;
  background-color: #512919;
  border-radius: 5px;
}

.explore__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #512919;
}

.explore__card p {
  margin-bottom: 1rem;
  color: rgb(207, 168, 120);
}

.explore__card a {
  color: white;
  transition: 0.3s;
}

.explore__card a:hover {
  color: #512919;
}

.class__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.class__image {
  position: relative;
}

.class__image .class__img-1 {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 500px;
  border-radius: 16px;
}

.class__image .class__img-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 250px;
  border-radius: 16px;
}

.class__content {
  padding: 2rem 0;
}

.class__content .section__header {
  text-align: left;
  margin-top: 2.5rem;
  max-width: 400px;
}

.class__content p {
  margin-bottom: 4rem;
  color: rgb(199, 156, 102);
}

.nutrition p {
  color: #512919;
}

ul li {
  color: #a97239;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 6rem;
}

.join__image {
  margin-top: 4rem;
  position: relative;
}

.join__image img {
  border-radius: 10px;
}

.join__grid {
  position: absolute;
  bottom: -5rem;
  width: calc(100% - 4rem);
  padding: 2rem;
  margin: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid white;
  backdrop-filter: blur(15px);
}

.join__card {
  flex: 1 1 250px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.join__card span {
  padding: 5px 12px;
  font-size: 1.75rem;
  color: white;
  background-color: #512919;
  border-radius: 5px;
}

.join__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

.join__card p {
  color: #512919;
}

.price__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.price__card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 243, 235);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.price__card:hover {
  border-color: #99d53a;
}

.price__card__content {
  flex: 1;
  margin-bottom: 2rem;
}

.price__card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
  color: #512919;
}

.price__card h3 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: #99d53a;
  border-bottom: 2px solid #99d53a;
}

.price__card p {
  margin-bottom: 0.75rem;
  color: #512919;
}

.price__card p i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: #512919;
}

.price__btn:hover {
  color: white;
  background-color: #99d53a;
  border: 2px solid #4b681d;
}

.price__btn {
  color: white;
  background-color: #512919;
  border: 2px solid white;
}

.footer__container {
  position: relative;
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}

.footer__blur {
  bottom: 0;
  right: 0;
}

.footer__logo {
  max-width: 150px;
  margin-bottom: 2rem;
}

.footer__col p {
  margin-bottom: 2rem;
  color: #512919;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 5px 10px;
  font-size: 1.25rem;
  color: #512919;
  border: 1px solid #512919;
  border-radius: 100%;
  transition: 0.3s;
}

.footer__socials a:hover {
  color: white;
  background-color: #512919;
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

.footer__col > a {
  display: block;
  margin-bottom: 1rem;
  color: bisque;
  transition: 0.3s;
}

.footer__col > a:hover {
  color: #512919;
}

.footer__bar {
  max-width: 100%;
  margin: auto;
  padding: 1rem;
  font-size: 0.8rem;
  color: #512919;
}

@media (width < 900px) {
  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__image {
    grid-area: 1/1/2/2;
  }

  .explore__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .class__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .class__image {
    min-height: 500px;
  }

  .price__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: 1fr 200px;
  }
}

@media (width < 600px) {
  .explore__header {
    flex-direction: column;
  }

  .explore__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .join__container {
    margin-bottom: 15rem;
  }

  .join__grid {
    width: 100%;
    margin: 0;
    bottom: -20rem;
  }

  .price__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: 1fr 150px;
  }

  .footer__bar {
    text-align: center;
  }
}
