<div class="container d-flex justify-content-center align-items-center">
  <div class="box row">
  <div class="product col-6">
    <img src="https://media.discordapp.net/attachments/1156171698916311091/1207293187924828190/senza_titolo.gif?ex=660d42e6&is=65facde6&hm=6060729fa0869c9c2f0ca4ab70490277693bd95c768ad533e3f74d3b78e48f6a&=&width=1000&height=1000" alt="product">
    <h2>Product Description</h2>
    <p>some other infos</p>
    <span>€5.350 Dollars</span>
    <div class="round-shape"></div>
  </div>
  <div class="payment-info col-6">
    <h1>PAyment Information</h1>
    <form>
    
    </form>
  </div>
</div>
</div>