<main>
  <div *ngIf="user" class="container">
    <div class="box d-flex justify-content-center">
      <form #form="ngForm" (submit)="updateMe(form)" class="col-6 col-sm-12">
        <div class="card_profile_img">
          <img *ngIf="user.avatar" [src]="user.avatar" alt="" />
          <img *ngIf="!user.avatar" [src]="user.avatar" alt="Default Image" />
        </div>
        <h3>{{ user.name + " " + user.lastname }}</h3>
        <div class="infos">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              required
              [(ngModel)]="user.name"
            />
          </div>
          <div class="form-group">
            <label for="lastname">Lastname</label>
            <input
              type="text"
              name="lastname"
              id="lastname"
              class="form-control"
              required
              [(ngModel)]="user.lastname"
            />
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input
              type="number"
              name="age"
              id="age"
              class="form-control"
              required
              [(ngModel)]="user.age"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              class="form-control"
              required
              [(ngModel)]="user.email"
            />
          </div>
        </div>
        <button class="start">Save</button>
      </form>
    </div>
  </div>
</main>
