<main>
  <div *ngIf="user" class="container">
    <div class="box">
      <div class="card_profile_img">
        <img *ngIf="user.avatar" [src]="user.avatar" alt="" />
        <img *ngIf="!user.avatar" [src]="user.avatar" alt="Default Image" />
      </div>
      <h3>{{ user.name + " " + user.lastname }}</h3>
      <div class="infos">
        <h5>Information</h5>
        <p>Name: {{ user.name }}</p>
        <p>Lastname: {{ user.lastname }}</p>
        <p>Age: {{ user.age }}</p>
        <p>Email: {{ user.email }}</p>
      </div>
      <div *ngIf="user && profileMembership">
        <h3>Abbonamento</h3>
        <p>Tipo: {{ profileMembership.membershipType }}</p>
        <p>Data di Emissione: {{ profileMembership.start_date }}</p>
        <p>Data di Scadenza: {{ profileMembership.exp_date }}</p>
      </div>
      <button class="start">
        <a
          ><i
            class="fas fa-edit"
            [routerLink]="['/edit-profile']"
            routerLinkActive="active"
          ></i
        ></a>
      </button>
    </div>
  </div>
</main>
