<div class="container">
  <header class="section__container header__container">
    <div class="header__content">
      <h1>
        The Journey For Better
        <span>Health</span>
      </h1>
      <p>
        Unleash your potential and embark on a journey towards a stronger,
        fitter, and more confident you. Sign up for 'Make Your Body Shape' now
        and witness the incredible transformation your body is capable of!
      </p>

      <button class="btn">
        <a class="start" [routerLink]="['/register']" routerLinkActive="active"
          >Get Started</a
        >
      </button>
    </div>
    <div class="header__image">
      <img
        src="https://i.pinimg.com/564x/16/3b/05/163b050e4e4f8e1b55d33306f126ce53.jpg"
        alt="header"
      />
    </div>
  </header>
  <section class="section__container quotes__container">
    <div class="quotes__header">
      <h2 class="section__header">❝</h2>
      <h2 class="section__header">
        "We believe that nutrition does not have to be
        <span>difficult or confusing,</span> nor should you feel restricted in
        your food choices"
      </h2>
    </div>
    <div class="quotes__grid">
      <div class="quotes__images">
        <img src="..." alt="" />
        <img src="..." alt="" />
        <img src="..." alt="" />
      </div>
    </div>
  </section>
</div>
