<div class="container">
  <header class="section__container header__container">
    <div class="header__content">
      <h1>
        The Journey For Better
        <span>Health</span>
      </h1>
      <p>
        Unleash your potential and embark on a journey towards a stronger,
        fitter, and more confident you. Sign up for 'Make Your Body Shape' now
        and witness the incredible transformation your body is capable of!
      </p>

      <button class="btn">
        <a class="start" [routerLink]="['/register']" routerLinkActive="active"
          >Get Started</a
        >
      </button>
    </div>
    <div class="header__image">
      <img
        src="https://i.pinimg.com/564x/16/3b/05/163b050e4e4f8e1b55d33306f126ce53.jpg"
        alt="header"
      />
    </div>
  </header>
  <section class="section__container quotes__container">
    <div class="quotes__header">
      <h2 class="section__header">❝</h2>
      <h2 class="section__header">
        "I believe that an Healthier Lifestyle does not have to be
        <span>difficult or confusing,</span> nor should you feel restricted in
        your choices"
      </h2>
    </div>
  </section>
  <section class="section__container services__container">
    <div class="row">
      <div class="services__image col-6">
        <img src="../../../assets/IMG_0938.jpg" alt="" />
      </div>
      <div class="services__header col-6">
        <h2>1:1 Coaching</h2>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic porro
          libero velit harum delectus eum inventore ab rem totam sint ex,
          doloremque voluptatum, molestias assumenda quod laboriosam. Facere,
          suscipit quisquam.
        </p>
      </div>
    </div>
  </section>
  <section class="section__container services__container">
    <div class="row">
      <div class="services__header col-6">
        <h2>Personal Training</h2>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic porro
          libero velit harum delectus eum inventore ab rem totam sint ex,
          doloremque voluptatum, molestias assumenda quod laboriosam. Facere,
          suscipit quisquam.
        </p>
      </div>
      <div class="services__image col-6">
        <img
          src="https://images.squarespace-cdn.com/content/v1/56df1089d210b89627ef54bb/1510666084237-MJ8XD4CMRUNKKF0JKH5I/Los-Angeles-Personal-Trainer.jpg?format=2500w"
          alt=""
        />
      </div>
    </div>
  </section>
  <section class="section__container services__container">
    <div class="row">
      <div class="services__image col-6">
        <img src="../../../assets/IMG_0942.jpg" alt="" />
      </div>
      <div class="services__header col-6">
        <h2>Nutritional Advices</h2>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic porro
          libero velit harum delectus eum inventore ab rem totam sint ex,
          doloremque voluptatum, molestias assumenda quod laboriosam. Facere,
          suscipit quisquam.
        </p>
      </div>
    </div>
  </section>
</div>
