.container {
  background-image: url(https://images.unsplash.com/photo-1521944521548-a8ed0caa8f38?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: right center;
  min-height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  color: #512919;
}

.box {
  padding: 20px;
  background: rgb(255, 245, 235);
  max-width: 850px;
  margin: auto;
  display: flex;
}

.box form {
  padding-top: 36px;
  padding-left: 45px;
  padding-right: 45px;
}

.product img {
  max-width: 100%;
}

.product span {
  font-size: 30px;
  font-weight: bold;
}

.product h2 {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .box form {
    padding: 40px 0 30px;
    width: 100%;
  }
  .box .product {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .box button {
    margin-top: 60px;
  }
}

@media screen and (max-width: 991px) {
  .box form {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 28px;
}

.form-group {
  display: block;
  position: relative;
}

.form-group input:first-child {
  margin-right: 25px;
}

.form-group input:focus {
  box-shadow: none;
  border: #512919 2px solid;
}

.form-group input:focus ~ label,
input:valid ~ label {
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: rgb(255, 245, 235);
}

.form-group input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 1px solid #512919;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
}

label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #512919;
  font-size: 15px;
  pointer-events: none;
  transition: 0.3s;
}

.form-control {
  border: 1px solid #512919;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px;
}

.box button {
  border: none;
  width: 164px;
  height: 51px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #512919;
  font-size: 15px;
  color: #fff;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
